.container {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 20px 0;
    color: white;
    border-bottom: 1px solid rgba(128, 128, 128, 0.27);
}

.top_container {
    display: flex;
    gap: 20px;
}

.author {
    font-weight: bold;
}

.date {
    font-size: 12px;
    align-content: flex-end;
    color: gray;
}

.content {
    font-size: 14px;
}

.delete_btn {
    font-size: 12px;
    text-decoration: underline;
    color: gray;
    cursor: pointer;
}