.container {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.container > input {
    flex: 1;
    padding: 15px;
    border-radius: 5px;
    border: 1px solid rgb(220, 220, 220);
    background-color: black;
    color: white;
}

.container > button {
    width: 80px;
    border-radius: 5px;
    border: none;
    background-color: #3e3d3d;
    color: white;
    cursor: pointer;
}